#pinButton, #likeButton {
    float: right;
    margin: 0 12px;
    background-color: #187795;
    color: #BED8D4;
    border: none;
    cursor: pointer;
    padding: 16px;
    line-height: 1em;
}

#pinButton:hover, #likeButton:hover {
    opacity: 0.8;
}

.infoPanel * {
    display: inline;
    margin: 12px;
}

.articleView * {
    margin: 24px auto;
    float: none;
    padding: 0 12px;
}

.articleView img {
    display: block;
}